doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar.top
     ul
        div#logo
           img(src="/static/brain.png", alt=" oops")
           | logo
        li #[a(href="/") home ]
        li #[a(href="/") about ]
        li #[a(href="/") contact ]
        li #[a(href="/") services]  
    section#introsection 
        div section for tumor segmantation
        div#missionsection.first1 
        h2 our mission 

        
    section#algorthimintro 
        div section for algo    
    section#cnn 
        div convolution neural network 
    section#footer 
        | footer        
    script
      include script.js
    
            
      